*.o
*.gmo
*.mo
*.swp
activity.log
builddir/
compile
config.rpath
data/gnome-nettool.appdata.xml
data/gnome-nettool.desktop
data/gnome-nettool.desktop.in
data/org.gnome.gnome-nettool.gschema.valid
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
intl
intltool*
libtool
ltconfig
ltmain.sh
stamp-h
stamp-h.in
version.h
INSTALL
COPYING
mkinstalldirs
missing
install-sh
installdir/
autom4te.cache
depcomp
stamp-h1
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/evince.pot
/po/stamp-it
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/gnome-nettool.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
src/gnome-nettool
