Source: gnome-netinfo
Section: net
Priority: optional
Maintainer: James LewisMoss <dres@debian.org>
Standards-Version: 3.0.0

Package: gnome-netinfo
Architecture: any
Depends: ${shlibs:Depends}
Description: The GNOME netinfo tool.
 GNOME is the "GNU Network Object Model Environment"
 .
 It is a project to build a complete, user-friendly desktop based
 entirely on free software.
 .
 This package contains a network information tool.
