Source: gnome-network
Section: net
Priority: optional
Maintainer: James LewisMoss <dres@debian.org>
Standards-Version: 3.0.0

Package: gnome-network
Architecture: any
Depends: ${shlibs:Depends}
Description: The gnome network utilities.
 Gnome is the "GNU Network Object Model Environment"
 .
 It is a project to build a complete, user-friendly desktop based
 entirely on free software.
 .
 This package contains a ppp thingy, a mail thingy, a talk thingy 
 and a sync thingy.
